version: 2.1

orbs:
  node: circleci/node@5.0.2
  codecov: codecov/codecov@3.2.3

jobs:
  test_and_deploy:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          override-ci-command: npm install
      - run:
          name: 'Run test with reports'
          command: |
            npm run test:ci -- --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/
      - store_test_results:
          path: ./reports/
      - codecov/upload:
          file: ''
      - run:
           name: 'Deploy to Vercel'
           command: |
             VERCEL_ORG_ID=${VERCEL_ORG_ID} VERCEL_PROJECT_ID=${VERCEL_PROJECT_ID} npx vercel --scope=${VERCEL_SCOPE} --token=${VERCEL_TOKEN}

workflows:
  test_and_deploy:
    jobs:
      - test_and_deploy

